@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Lato', Arial, sans-serif;
}

.font-heading {
  font-family: 'Playfair Display', Georgia, serif;
}
